@page "/"
@rendermode InteractiveServer
@inject IJSRuntime JS

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

<div class="container">
    <div class="row m-1">
        <label for="keyData">入力検証</label>
        <input id="keyData" @onkeypress="ProcessKeyPress" value="@data"/>
    </div>
</div>

@code {
    private string? data;

    private async Task ProcessKeyPress(KeyboardEventArgs e)
    {
        if (e.Key == "@")
        {
            await JS.InvokeVoidAsync("alert", "You pressed @");
        }
        else
        {
            data += e.Key.ToUpper();
        }
    }
}
