@page "/sample/nointeractive"

<h3>NoInteractive</h3>
<p>このページは動作しません</p>

<AutoFocus />

<form method="get" action="/sample/focus">
    <button class="btn btn-primary mb-1">機能するページに移動</button>
</form>


@code {
    
}

